.App {
  display: flex;
  flex-flow: column wrap;
  height: calc(100vh - 46px);
}

.filterPanel {
  background-color: lightblue;
  padding: 15px;
  min-height: calc(100vh - 30px);
  width: 450px;
  order: -1;
  flex: 0 0 auto;
}

.chartPanel {
  padding: 15px;
  width: calc(100% - 510px);
  min-height: calc(100vh - 30px);
  overflow: auto;
}

.banner {
  font-size: large;
  margin-top: 3px;
  margin-bottom: 3px;
}

.formPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
}

.formLabel {
  font-size: small;
  font-weight: bold;
  margin-right: 5px;
}

.formIcon {
  width: 16px;
  height: 16px;
  margin-left: 3px;
}

.filterColumns {
  display: flex;
  flex-direction: row;
}

.filterColumnSections {
  flex: 1;
}

.filterColumnButtons {
  margin-top: 46px;
  margin-left: 15px;
}

.filterSection {
}

.filterButton {
}
